.intro_container{
    margin: 128px 20px 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.intro_logo{
    width: 120px;
    border-radius: 10px;
    margin: auto;
}
.intro_text{
    font-size: 48px;
    margin: 48px 0 0 0 ;
    font-weight: 600;
    letter-spacing: 2px;
}
.intro_second{
    font-size: 30px;
    margin: 16px 0 56px 0 ;


}
.homesignin{
    margin: auto;
}

.signinbutton{
    border: 1px solid var(--border_light);
    display: flex;
    width: fit-content;
    font-size: 16px;
    letter-spacing: 0.6px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.signinbutton:hover{
    background-color: var(--back_blue);
    border: 1px solid var(--border_blue);
}

.signintext{
    margin: auto;
    color: var(--primary);
}

.googleicon{
    margin: auto 10px auto auto;
}

.resp{
    display:flex ;
    flex-direction: column;
    margin-top:30px ;
    text-align: center;
}

.img_con{
    margin: auto;
}
.tab{
    display: none;

    width: 400px;
    border: 10px solid rgb(195, 195, 195);
    border-radius: 30px;
    padding: 20px;
}
.mob{
    width: 260px;
    display: none;
    padding: 20px;

    border: 7px solid rgb(195, 195, 195);
    border-radius: 20px;
}

.laptop{
    padding: 20px;

    width: 800px;
    border: 10px solid rgb(195, 195, 195);
    border-radius: 30px;
}

.resp_head{
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 30px 0;
}
.resp_des{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.footer{
    display: flex;
    flex-direction: column;
}

.footer_head{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 20px auto;

}
.contact{
    display: flex;
    padding: 20px 0;
    margin-top: 30px;
}
.myname{
    margin: 0 auto 0 30px;

}

.button{
    margin: 0 30px 0 auto;
    cursor: pointer;
}
@media only screen and (max-width:900px){
    .mob{
        display: block;
    }
    .tab{
        display: none;
    }
    .laptop{
        display: none;
    }

    
}
